@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: 100vh;
    background-image: url('./assets/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}